:root {
  --color-primary: #34c94b;
  --color-black: #121212;
  --color-white: #fff;
}


*,
*::before
*::after {
  box-sizing:border-box;
}

*{
  margin: 0;
}

html,body {
  height:100%
}

body {
  font-family:'Poppins Pro', sans-serif;
  background-color: var(--color-black) !important;
  line-height: 1.5;
  color: var(--color-white);
  overflow-x: hidden;
}

.swiper-slide {
  width: auto !important;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea
select {
  font: inherit;
}

#root,
#__next {
  isolation: isolate;
}
 p,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
  overflow: hidden;
 }