.warpper {
    position: relative;
}

.rightNavigantion {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 40%;
    transform: translateY(-50%);
    z-index: 10;
}

.leftNavigation {
    cursor: pointer;
    position: absolute;
    left: 10px;
    top: 40%;
    transform: translateY(-50%);
    z-index: 10;
}